<footer class="mt-auto custom-footer">
    <div class="container-fluid">
        <div class="text-center">
           @* <div class="font-weight-bold">
                Design & Developed by 
                <a class="text-decoration-none text-primary font-weight-bold" href="https://www.mselectrohome.com/" target="_blank">MS Electrohome </a>
            </div>*@
        </div>
    </div>
</footer>