<nav class="sb-topnav navbar navbar-expand navbar-dark bg-gradient">
    <a class="navbar-brand text-center" asp-action="index" asp-controller="home" asp-area=""><img src="~/images/" height="50"/></a>
    
    <button class="btn btn-link btn-sm order-0 order-lg-0" id="sidebarToggle" href="#"><i class="fa fa-bars"></i></button>
    <a class="navbar-brand navbar-org-name d-none d-md-inline-block" href="">
      
    </a>
    <h1 class="navbar-brand text-center mx-auto" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Appointment Management System</h1>
    <!-- Navbar Search-->
    <div class="d-none d-md-block m-auto mr-md-3 my-2 my-md-0">
        <span class="d-inline-block">

        </span>
    </div>

    <div class="d-none d-md-block mr-md-3 my-2 my-md-0">
     
    </div>

    <!-- Navbar-->
    <partial name="_NavLogin" />
</nav>