<nav class="sb-topnav navbar navbar-expand navbar-dark bg-gradient">
    <a class="navbar-brand" href="#">Appointment Management System</a>

    <!-- Navbar Search-->
    <partial name="_NavSearch" />
    <!-- Navbar-->
    <partial name="_NavLogin" />
</nav>